<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<title>Paris 2024</title>

<style>
body {
	padding-top: 50px;
}

.special {
	padding-top: 50px;
}
</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Système de gestion des sites</a>
				<a class="navbar-brand" href="/sports">Système de gestion des sports</a>
				<a class="navbar-brand" href="/sites">Système de gestion des sites</a>
			</div>
		</div>
	</nav>


	<div class="container special">

		<h2 class="h2">Ajout d'un nouveau site</h2>
		<div>
			<form method="post"
				th:action="@{/saveSite}" th:object="${site}">
				<div class="form-group">
					<label for="nomInput">Nom</label>
					<input
						type="text" th:field="*{nom}" class="form-control" id="nomInput"
						aria-describedby="nomHelp" placeholder="Saisir le nom"> <small
						id="nomHelp" class="form-text text-muted">Merci d'écrire le nom du site.</small>
				</div>
				<div class="form-group">
					<label for="rueInput">Rue</label>
					<input
							type="text" th:field="*{rue}" class="form-control" id="rueInput"
							aria-describedby="rueHelp" placeholder="Saisir la rue"> <small
						id="rueHelp" class="form-text text-muted">Merci d'écrire la rue du site.</small>
				</div>
				<div class="form-group">
					<label for="villeInput">Ville</label>
					<input
							type="text" th:field="*{ville}" class="form-control" id="villeInput"
							aria-describedby="villeHelp" placeholder="Saisir la ville"> <small
						id="villeHelp" class="form-text text-muted">Merci d'écrire la ville du site.</small>
				</div>
				<div class="form-group">
					<label for="CPInput">CP</label>
					<input
							type="text" th:field="*{CP}" class="form-control" id="CPInput"
							aria-describedby="CPHelp" placeholder="Saisir le code postal"> <small
						id="CPHelp" class="form-text text-muted">Merci d'écrire le code postal du site.</small>
				</div>

				<button type="submit" class="btn btn-primary">Créer</button>
			</form>
		</div>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>